# ===== Visual Studio =====
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ===== Build outputs =====
bin/
obj/
Debug/
Release/
x64/
x86/

# ===== .NET =====
*.dll
*.exe
*.pdb

# ===== Cache =====
*.cache
*.vsidx
DocumentLayout.json

# ===== Logs =====
*.log

# ===== Environment / secrets =====
*.env

**/*.slnx
!Mreze_Projekat.slnx
